<!-- HEAD -->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="../css/productDetail.css" />

  <body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

      <main>
        <div class="container-img">
          <div class="contenedorvisor">
            <a href="javascript:void(0);">
              <img class="grande muestra" src="../img/<%= getBook.imgTop %>" />
            </a>

            <a href="javascript:void(0);">
              <img class="miniatura" src="../img/<%= getBook.imgTop%>" />
              <img class="grande" src="../img/<%= getBook.imgTop %>" />
            </a>
            <a href="javascript:void(0);">
              <img class="miniatura" src="../img/<%= getBook.imgBack %>" />
              <img class="grande" src="../img/<%= getBook.imgBack %>" />
            </a>
          </div>
        </div>

        <div class="container-info-product">
          <div class="container-name-product">
            <span>
              <h2 class="title-book">
                <%= getBook.title %>
              </h2>
            </span>
          </div>

          <div class="container-rating">
            <label for=""><i class="fa-solid fa-star"></i></label>
            <label for=""><i class="fa-solid fa-star"></i></label>
            <label for=""><i class="fa-solid fa-star"></i></label>
            <label for=""><i class="fa-regular fa-star"></i></label>
            <label for=""><i class="fa-regular fa-star"></i></label>
            <span> 5 Comentarios</span>
          </div>

          <div class="container-price">
            <div style="width: 25%; float:left">
              <% if (getBook.discount>0) { %>
                <span class="precio-desc-item">
                  <% } else { %>
                    <span class="precio-item">
                      <br>
                      <% } %>
                        <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2,
                          currency: "USD" }).format(getBook.price) %>
                    </span>
            </div>
            <div style="width: 75%; float:right">
              <span class="precio-item">
                <% if (getBook.discount> 0) { %>
                  <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2, currency: "USD"
                    }).format(getBook.price - (getBook.price * getBook.discount / 100)) %> - <%= getBook.discount %>%
                      Off
                      <% } %>
              </span>
            </div>
            <i class="fa-solid fa-angle-right"></i>
          </div>

          <div class="container-description">
            <div class="title-description">
              <h4>Descripción</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-description">
              <p>
                <%= getBook.description %>
              </p>
            </div>
          </div>

          <div class="container-additional-information">
            <div class="title-additional-information">
              <h4>Información adicional</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-additional-information">
              <p>
                <%= getBook.descriptionD %>
              </p>
            </div>
          </div>

          <a href="/productEdit/<%= getBook.id %>" class="action-button edit">EDITAR</a>
          <a href="/productDelete/<%= getBook.id %>" class="action-button delete">ELIMINAR</a>
        </div>
      </main>

      <!-- FOOTER -->
      <%- include('../partials/footer.ejs') %>
  </body>

  </html>