<!-- HEAD -->
<%- include('../partials/head.ejs') %>

  <link rel="stylesheet" href="../css/login-register.css" />
  <link rel="stylesheet" type="text/css" href="../css/productCreate.css" />


  <!-- HEADER -->
  <%- include('../partials/header.ejs') %>


    <body>
      <main>
        <section>
          <form action="/productEdit/<%= libro.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
            class="createform">
            <div>
              <h1>MODIFICAR PRODUCTO DB</h1>

            </div>

            <label for="title">Titulo</label>
            <input type="text" name="title" placeholder="Titulo del Libro" class="control" value=" <%= libro.title %>">
            <label for="author">Autor</label>
            <input type="text" name="author" placeholder="Autor del Libro" class="control" value=" <%= libro.author %>">


            <label for="genre">Género</label>
            <select name="genero" class="category">
              <% for( let i=0; i < genres.length; i++ ) { %>
                <% if (genres[i].id==libro.genre_id) { %>
                  <option value="<%= genres[i].id %>" selected>
                    <%= genres[i]?.name || 'No tiene genero' %>
                  </option>
                  <% } else { %>
                    <option value="<%= genres[i].id %>">
                      <%= genres[i]?.name || 'No tiene genero' %>
                    </option>
                    <% } %>
                      <% } %>
            </select>

            <label for="description">Descripcion</label>
            <textarea name="description" id="description" placeholder="Inserte Descripción de Producto" class="control">
              <%= libro.description %>
             </textarea>

            <label for="descriptionD">Descripcion Detallada</label>
            <textarea name="descriptionD" id="descriptionDetallada"
              placeholder="Inserte Descripción detallada de Producto" class="control">
              <%= libro.descriptionD %>
             </textarea>

            <label for="imgTop">Ingresar Imagen de Tapa del Libro</label>
            <input type="file" name="imgTop" class="subir-archivo">

            <label for="imgBack">Ingresar Imagen de portada del Libro</label>
            <input type="file" name="imgBack" class="subir-archivo">

            <label for="price">Precio</label>
            <input type="number" name="precio" placeholder="Precio del Libro" class="control"
              value="<%= libro.price %>">

            <label for="discount">Descuento</label>
            <input type="number" name="discount" placeholder="% de Descuento" class="control"
              value="<%= libro.discount %>">

            <div class="container-botones">
              <button type="submit" id="Actualizar" class="btn btn-success">Actualizar producto</button>
            </div>

          </form>
        </section>
      </main>
    </body>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>

      </html>