<!-- HEAD -->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="../css/productDetail.css" />

  <body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

      <main>
        <div class="container-img">
          <div class="contenedorvisor">
            <a href="javascript:void(0);">
              <img class="grande muestra" src="../img/<%= getBook.imgTop %>" />
            </a>

            <a href="javascript:void(0);">
              <img class="miniatura" src="../img/<%= getBook.imgTop%>" />
              <img class="grande" src="../img/<%= getBook.imgTop %>" />
            </a>
            <a href="javascript:void(0);">
              <img class="miniatura" src="../img/<%= getBook.imgBack %>" />
              <img class="grande" src="../img/<%= getBook.imgBack %>" />
            </a>
          </div>
        </div>

        <div class="container-info-product">
          <div class="container-name-product">
            <span>
              <h2 class="title-book">
                <%= getBook.title %>
              </h2>
            </span>
          </div>

          <div class="container-rating">
            <label for=""><i class="fa-solid fa-star"></i></label>
            <label for=""><i class="fa-solid fa-star"></i></label>
            <label for=""><i class="fa-solid fa-star"></i></label>
            <label for=""><i class="fa-regular fa-star"></i></label>
            <label for=""><i class="fa-regular fa-star"></i></label>
            <span> 5 Comentarios</span>
          </div>

          <div class="container-price">
            <div style="width: 25%; float:left">
              <% if (getBook.discount>0) { %>
                <span class="precio-desc-item">
                  <% } else { %>
                    <span class="precio-item">
                      <br>
                      <% } %>
                        <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2,
                          currency: "USD" }).format(getBook.price) %>
                    </span>
            </div>
            <div style="width: 75%; float:right">
              <span class="precio-item">
                <% if (getBook.discount> 0) { %>
                  <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2, currency: "USD"
                    }).format(getBook.price - (getBook.price * getBook.discount / 100)) %> - <%= getBook.discount %>%
                      Off
                      <% } %>
              </span>
            </div>

            <i class="fa-solid fa-angle-right"></i>
          </div>
          <div class="container-details-product">
            <div class="form-group">
              <label for="formato">Formato</label>
              <select name="formato" id="formato">
                <option disabled selected value="">Escoge una opci칩n</option>
                <option value="impreso">Impreso</option>
                <option value="digital">Digital</option>
              </select>
            </div>
          </div>

          <div class="container-add-cart">
            <div class="container-quantity">
              <input type="number" placeholder="1" value="1" min="1" class="input-quantity" />
              <div class="btn-increment-decrement">
                <i class="fa-solid fa-chevron-up" id="increment"></i>
                <i class="fa-solid fa-chevron-down" id="decrement"></i>
              </div>
            </div>
            <button class="btn-add-to-cart">
              <i class="fa-solid fa-plus"></i>
              <a href="/productCart">A침adir al carrito</a>
            </button>
          </div>

          <div class="container-description">
            <div class="title-description">
              <h4>Descripci칩n</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-description">
              <p>
                <%= getBook.description %>
              </p>
            </div>
          </div>

          <div class="container-additional-information">
            <div class="title-additional-information">
              <h4>Informaci칩n adicional</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-additional-information hidden">
              <p>
                <%= getBook.descriptionD %>
              </p>
            </div>
          </div>

          <div class="container-reviews">
            <div class="title-reviews">
              <h4 class="Title-seccion">Comentarios</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-reviews hidden">
              <div class="comments-container">
                <ul id="comments-list" class="comments-list">
                  <li>
                    <div class="comment-main-level">
                      <!-- Avatar -->
                      <div class="comment-avatar">
                        <img src="../img/avatar_1.webp" alt="" />
                      </div>
                      <!-- Contenedor del Comentario -->
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name by-author">Agustin Ortiz</h6>
                          <span>hace 20 minutos</span>
                          <i class="fa fa-reply"></i>
                          <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Velit omnis animi et iure laudantium vitae,
                          praesentium optio, sapiente distinctio illo?
                        </div>
                      </div>
                    </div>
                    <!-- Respuestas de los comentarios -->
                    <ul class="comments-list reply-list">
                      <li>
                        <!-- Avatar -->
                        <div class="comment-avatar">
                          <img src="../img/avatar_2.webp" alt="" />
                        </div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name">Claudia Rojero</h6>
                            <span>hace 10 minutos</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                          </div>
                          <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Velit omnis animi et iure laudantium vitae,
                            praesentium optio, sapiente distinctio illo?
                          </div>
                        </div>
                      </li>

                      <li>
                        <!-- Avatar -->
                        <div class="comment-avatar">
                          <img src="../img/avatar_1.webp" alt="" />
                        </div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name by-author">Agustin Ortiz</h6>
                            <span>hace 10 minutos</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                          </div>
                          <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Velit omnis animi et iure laudantium vitae,
                            praesentium optio, sapiente distinctio illo?
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <div class="comment-main-level">
                      <!-- Avatar -->
                      <div class="comment-avatar">
                        <img src="../img/avatar_2.webp" alt="" />
                      </div>
                      <!-- Contenedor del Comentario -->
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name">Claudia Rojero</h6>
                          <span>hace 10 minutos</span>
                          <i class="fa fa-reply"></i>
                          <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Velit omnis animi et iure laudantium vitae,
                          praesentium optio, sapiente distinctio illo?
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="container-social">
            <span>Compartir</span>
            <div class="container-buttons-social">
              <a href="#" title="Email"><i class="fa-solid fa-envelope"></i></a>
              <a href="#" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </main>

      <section class="container-producto-oferta">
        <header>
          <br>
          <br>
          <h2>PRODUCTOS RELACIONADOS</h2>
          <br>
          <div class="linea"></div>
        </header>
        <div class="card-list-products">
          <% for( let i=1; i <=5; i++ ) { %>
          <article>
            <a href="<%= libros[i].id %>" target="">
              <img src="../img/<%= libros[i].imgTop %>" alt="<%= libros[i].alt %>" />
            </a>
              <figure>
                <figcaption><b><%= libros[i].title %></b></figcaption>
                <p class="category"><i><%= libros[i].genero.name %></i></p>
                <div class="price">
                  <b>
                  <% if (libros[i].discount>0) { %>
                    <span class="precio-desc-item">
                  <% } else { %>
                    <span class="precio-item">
                  <br>
                  <% } %>
                  <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2,
                        currency: "USD" }).format(libros[i].price) %>
                    </span>
                  </b>
                  <span class="precio-item">
                    <% if (libros[i].discount> 0) { %>
                      <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2, currency: "USD"
                        }).format(libros[i].price - (libros[i].price * libros[i].discount / 100)) %> <%= libros[i].discount
                          %>%Off
                          <% } %>
                  </span>
                </div>
              </figure>
          </article>
          <% } %> 
        </div>
      </section>

      <!-- FOOTER -->
      <%- include('../partials/footer.ejs') %>

        <script>
          const inputQuantity = document.querySelector(".input-quantity");
          const btnIncrement = document.querySelector("#increment");
          const btnDecrement = document.querySelector("#decrement");

          let valueByDefault = parseInt(inputQuantity.value);

          // Funciones Click

          btnIncrement.addEventListener("click", () => {
            valueByDefault += 1;
            inputQuantity.value = valueByDefault;
          });

          btnDecrement.addEventListener("click", () => {
            if (valueByDefault === 1) {
              return;
            }
            valueByDefault -= 1;
            inputQuantity.value = valueByDefault;
          });

          // Toggle
          // Constantes Toggle Titles
          const toggleDescription = document.querySelector(".title-description");
          const toggleAdditionalInformation = document.querySelector(
            ".title-additional-information"
          );
          const toggleReviews = document.querySelector(".title-reviews");

          // Constantes Contenido Texto
          const contentDescription = document.querySelector(".text-description");
          const contentAdditionalInformation = document.querySelector(
            ".text-additional-information"
          );
          const contentReviews = document.querySelector(".text-reviews");

          // Funciones Toggle
          toggleDescription.addEventListener("click", () => {
            contentDescription.classList.toggle("hidden");
          });

          toggleAdditionalInformation.addEventListener("click", () => {
            contentAdditionalInformation.classList.toggle("hidden");
          });

          toggleReviews.addEventListener("click", () => {
            contentReviews.classList.toggle("hidden");
          });
        </script>

  </body>

  </html>