<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Resultados de tu búsqueda' }) %>
  <link rel="stylesheet" href="../css/results1.css" />

  <body>
    <!-- Header -->
    <%- include('partials/header') %>
      <!-- /Header -->

      <section class="contenedor">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">
              Resultados de la búsqueda para: <%= palabra %>
            </h2>
          </div>
          <!-- Contenedor de elementos -->
          <div class="contenedor-items">
            <!-- todos los productos -->
            <% if (pFound>0) { %>
              <% pToSearch.forEach(libro=> { %>
                <div class="item">
                  <span class="titulo-item">
                    <%= libro.title %>
                  </span>
                  <img src="img/<%= libro.imgTop %>" alt="<%= libro.alt %>" class="img-item">
                  <div>
                    <% if (libro.discount>0) { %>
                      <span class="precio-desc-item">
                        <% } else { %>
                          <span class="precio-item">
                            <br>
                            <% } %>
                              <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2,
                                currency: "USD" }).format(libro.price) %>
                          </span>
                  </div>
                  <span class="precio-item">
                    <% if (libro.discount> 0) { %>
                      <%= new Intl.NumberFormat('en-US', { style: 'currency' , minimumFractionDigits: 2, currency: "USD"
                        }).format(libro.price - (libro.price * libro.discount / 100)) %>-<%= libro.discount %>% Off
                          <% } %>
                  </span>
                  <a class="boton-item" href="products/<%= libro.id %>" target="">Ver Detalle</span></a>
                </div>
                <% }) %>
            <% } else { %>
                  <div class="col-12">
                    <h2 class="products-title" style="color: tomato">
                      No hay productos que coincidan con esa búsqueda
                    </h2>
                  </div>
            <% } %>
            <!-- /todos los productos -->
          </div>
      </section>

      <!-- footer -->
      <%- include('partials/footer') %>
        <!-- /footer -->
  </body>

</html>