<!-- HEAD -->
<%- include('../partials/head.ejs', {title: 'Formulario de Registro' }) %>
	<link rel="stylesheet" href="../css/login-register.css" />

	<body>
		<!-- HEADER -->
		<%- include('../partials/header.ejs') %>

			<!-- Login-Form -->
			<main>
				<section class="section-login">
					<div class="contenedor-login">
						<div class="row">
							<div class="formulario">
								<h2>Formulario de Login</h2>

								<form method="POST" action="/users/login">
										<div class="input-contenedor">
											<i class="fa-solid fa-envelope"></i>
											<input type="email" name="email" placeholder="Correo electrónico"
											class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
											value="<%= locals.oldData ? oldData.email : null %>">
										  <% if (locals.errors && errors.email) { %>
											<div class="text-danger">
											  <%= errors.email.msg %>
											</div>
											<% } %>
										</div>

										<div class="input-contenedor">
											<i class="fa-solid fa-lock"></i>
											<input type="password" placeholder="Contraseña" name="password"
												class="form-control" />
											<% if (locals.errors && errors.password) { %>
												<div class="text-danger">
													<%= errors.password.msg %>
												</div>
											<% } %>
											<label for="#"></label>
											<div class="invalid-feedback">
											</div>
										</div>

										<div class="col-md-6 my-2">
											<div class="form-group form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-check-input"
														name="remember_user"> Recordar mi usuario
												</label>
											</div>
										</div>
										
										<div class="col-12 my-3">
											<button type="submit" class="btn btn-primary">Loguearme</button>
										</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- //Login-Form -->

			<!-- FOOTER -->
			<%- include('../partials/footer.ejs') %>
	</body>

	</html>