<!-- HEAD -->
<%- include('../partials/head.ejs', {title: 'Formulario de Perfil' }) %>
<link rel="stylesheet" href="../css/login-register.css" />

	<body>
		<!-- HEADER -->
		<%- include('../partials/header.ejs') %>
			<!-- /Header -->

			<!-- Container -->
			<main>
				<section class="section-login">
					<div class="contenedor-login">
						<div class="row">
							<div>
								<h3>Hola <%= user.fullName %></h3>
								<img class="imgPerfil" src="/img/users/<%= user.avatar %>">
								<br>
								<br>
								<div class="alert alert-success">
									<%= user.email %>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- //Container -->

			<!-- FOOTER -->
			<%- include('../partials/footer.ejs') %>
				<!-- /footer -->
	</body>

	</html>