<!-- HEAD -->
<%- include('../partials/head.ejs', {title: 'Formulario de Edicion' }) %>
  <link rel="stylesheet" href="../css/userEdit.css" />

  <body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

      <main>
        <section class="section-register">
          <div class="contenedor-register">
            <div class="formulario">
                <form action="/userEdit/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <h2>Edicion de Usuario</h2>

                <div class="input-contenedor">
                  <i class="fa-solid fa-user" icon></i>
                  <label for="name" class="form-label"></label>
                  <input type="text" id="fullName" name="fullName" 
                  placeholder="Nombre Completo" class="form-input" 
                  value="<%= usuario.fullName %>">
                </div>

                <div class="input-contenedor">
                  <i class="fa-solid fa-envelope" icon></i>
                  <input type="text" id="email" name="email" 
                  placeholder="Correo electronico" class="form-input" 
                  value="<%= usuario.email %>">
                </div>

                <div class="input-contenedor">
                  <i class="fa-solid fa-icons"></i>
                  <label for="category_id"></label>
                      <p>
                          <select class="list-categoria" name="category_id" id="category_id" required>
                              <% categorias.forEach( categoria => { %>
                              <option value="<%= categoria.id %>" <% if (usuario.category_id == categoria.id) { %><%= 'selected' %><% }; %>><%= categoria.name %></option>
                              <% }); %>
                          </select>
                      </p>
                </div>

                <div class="input-contenedor">
                  <div>
                    <img class="imgPerfil" src="/img/users/<%= usuario.avatar %>">
                    <input type="file" name="avatar"
                      class="<%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.avatar) { %>
                      <div class="text-danger">
                        <%= errors.avatar.msg %>
                      </div>
                      <% } %>
                  </div>
                </div>

                <div>
                  <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>

      <!-- FOOTER -->
      <%- include('../partials/footer.ejs') %>

  </body>

  </html>